<ion-modal-view class="modal-full">
  <ion-header-bar class="ionic bar-stable">
    <div class="buttons">
      <button class="button icon ion-ios-arrow-back button-clear button-positive" ng-click="closeModal()">Voltar</button>
    </div>
    <p class="title app-title-iframe">{{title}}</p>
    
  </ion-header-bar>

  <ion-scroll zooming="true" direction="xy" class="app-full-size">
    <ion-content padding="true" scroll="true" overflow-scroll="true" class="app-item-page padding" ng-bind-html="renderHTML(content)"></ion-content>
 </ion-scroll>

</ion-modal-view>