<ion-view view-title="" class="bg-light" hide-tabs>
  
  <ion-nav-title>
      <small>Curso</small>
      <small class="tiny">{{addon.title}}</small>
  </ion-nav-title>

  <ion-scroll on-swipe-right="$ionicGoBack()" on-double-tap="zoomOut()" zooming="true" direction="xy" delegate-handle="maddonScroll" class="app-full-size has-header" min-zoom="1">
    <ion-content class="bg-light app-zoom-page padding jcontent" padding="true" scroll="true" overflow-scroll="true" ng-bind-html="renderHTML(addon.content)"></ion-content>
  </ion-scroll>

</ion-view>
