<ion-view hide-back-button="true">

  <ion-nav-title>
    <div class="bar bar-header bar-light" ng-if="::isIOS">
      <div class="button-bar bar-small">
        <a nav-transition="none" class="button button-outline active" ng-class="::button_class" href="#/tab/lectures">Cursos</a>
        <a nav-transition="none" class="button button-outline" ng-class="::button_class" href="#/tab/events">Eventos</a>
      </div>
    </div>
    <div ng-if="::isAndroid">Ensino e Pesquisa</div>
  </ion-nav-title>

  <ion-nav-buttons side="secondary">
    <a class="button ion-ios-search-strong button-clear" ng-class="::button_class" ui-sref="search({tab: 1})"></a>
  </ion-nav-buttons>

  <!--<ui-alert-bar alert="alert"></ui-alert-bar>-->

  <ion-content lazy-scroll ng-class="::hasHeaderFooter">

    <ion-refresher on-refresh="doRefresh()"></ion-refresher>

    <ui-jumbotron ng-if="::has_message" icon="ion-ios-book">{{::message}}</ui-jumbotron>

    <div class="list" ng-if="::lectures.length > 0">

        <div class="row app-no-padding-horizontal" style="padding: 3px" ng-repeat="lecture in lectures" ng-if="$index % 2 == 0">

            <a class="col col-50 app-no-padding-left app-no-text-decoration" style="padding: 3px" ui-sref="tab.lecture({lecture: lectures[$index]})" ng-if="::lectures[$index].id">
                <div class="item item-image">
                    <img image-lazy-src="{{::lectures[$index].img_src}}" image-lazy-loader="{{::constant.iLLoader}}">
                </div>

                <div class="item" style="max-height: 122px">
                    <h2 class="app-title-clamp-two app-font-size-90 app-text-uppercase">{{::lectures[$index].title}}</h2>
                    <p class=""><span class="app-font-size-80 app-font-color-stable"><i class="icon ion-ios-location"></i> {{::lectures[$index].location}}</span></p>
                    <p class="padding-top app-text-uppercase app-font-size-80 {{::lectures[$index].status.color}}">{{::lectures[$index].status.description}}</p>
                </div>
            </a>
            <a class="col col-50 app-no-padding-right app-no-text-decoration" style="padding: 3px" ui-sref="tab.lecture({lecture: lectures[$index+1]})" ng-if="::lectures[$index+1].id">
                <div class="item item-image">
                    <img image-lazy-src="{{::lectures[$index+1].img_src}}" image-lazy-loader="{{::constant.iLLoader}}">
                </div>

                <div class="item" style="max-height: 122px">
                    <h2 class="app-title-clamp-two app-font-size-90 app-text-uppercase">{{::lectures[$index+1].title}}</h2>
                    <p class=""><span class="app-font-size-80 app-font-color-stable"><i class="icon ion-ios-location"></i> {{::lectures[$index+1].location}}</span></p>
                    <p class="padding-top app-text-uppercase app-font-size-80 {{::lectures[$index+1].status.color}}">{{::lectures[$index+1].status.description}}</p>
                </div>
            </a>

        </div>

    </div>


  </ion-content>

  <div ng-if="isAndroid" class="bar bar-footer bar-info">
      <div class="button-bar bar-info">
        <a nav-transition="none" class="button button-clear" href="#/tab/lectures">Cursos</a>
        <a nav-transition="none" class="button button-clear active" href="#/tab/events">Eventos</a>
      </div>
  </div>

</ion-view>