<ion-view view-title="{{stitle}}">

  <ion-nav-buttons side="secondary">
    <button class="button ion-ios-search-strong button-clear" ng-class="{'button-light':isAndroid, 'button-info':isIOS}" ng-click="showFilterBar()"></button>
  </ion-nav-buttons>
  
  <ion-content ng-class="{'has-header': isIOS}">

    <div ng-if="categories.length == 0">
      <ui-jumbotron icon="ion-ios-people">Não há {{stitle}} para exibir</ui-jumbotron>
    </div>

    <ion-list class="list">

      <ion-item class="item item-avatar" ui-sref="tab.procselets-files({category: category, stitle: stitle})"  collection-repeat="category in categories" item-width="100%">
        <div class="item-image app-units app-text-uppercase" ng-class="checkColor(category.unit, 'app-units-')">{{category.unit}}</div>

        <h2 class="">{{category.category}}</h2>
        <span class="item-note"><i class="icon ion-ios-pricetag"></i> {{category.code}}</span>
        <p><i class="icon ion-android-document"></i> {{category.file}}</p>
      </ion-item>

    </ion-list>

  </ion-content>

</ion-view>