<ion-view view-title="Processos Seletivos">

    <ion-nav-buttons side="secondary">
        <!--<button class="button ion-ios-search-strong button-clear" ng-class="{'button-light':isAndroid, 'button-info':isIOS}" ng-click="showFilterBar()"></button>-->
        <a class="button ion-ios-search-strong button-clear" ng-class="::button_class" ui-sref="search({tab: 2})"></a>
    </ion-nav-buttons>

    <ion-content ng-class="::has_header">

        <ion-refresher on-refresh="doRefresh()"></ion-refresher>

        <ui-jumbotron ng-if="has_message" icon="ion-ios-people">{{message}}</ui-jumbotron>

        <div class="list card" ng-if="locations.length > 0" ng-repeat="item in locations">

            <div class="item item-avatar">
                <div class="item-image app-units app-units-stable"><i class="icon ion-location app-font-size-300"></i></div>
                <h2>{{::item.title}}</h2>
                <p>
                    <span class="app-font-size-90" ng-class="::unit.short_title_color" ng-repeat="unit in item.units">
                        {{::unit.short_title}} <span class="dark" ng-if="!$last">&#8226;</span>
                    </span>
                </p>
            </div>

            <a class="item item-body" ui-sref="tab.procselets-categories({units: item.units, status: key, stitle: value.title})" ng-repeat="(key, value) in item.status track by $index">
                <span class="app-font-size-90">{{::value.title}}</span>
                <span class="badge badge-assertive">{{::value.total}}</span>
            </a>

        </div>

    </ion-content>

</ion-view>