<ion-view view-title="{{sname}}">


  <ion-nav-buttons side="secondary">
    <button class="button icon ion-ios-search-strong button-clear" ng-class="{'button-light':isAndroid, 'button-info':isIOS}"></button>
  </ion-nav-buttons>

  <ion-content ng-class="{'has-header': isIOS, 'has-footer': isAndroid}">

    <div class="list">
      
      <div class="item item-avatar">
        <div class="item-image app-units app-text-uppercase" ng-class="checkColor(category.unit)">{{files[0].unit}}</div>
        <h2 class="app-title-clamp-two">{{files[0].category[0]}}</h2>
        <p><i class="icon ion-ios-pricetag-outline"></i> {{files[0].category[1]}}</p>
      </div>

      <a class="item item-icon-left" ng-click="externalLink(file)" ng-repeat="file in files[0].files">
        <i class="icon" ng-class="getIcon(file)"></i>
        <h2 class="app-font-size-90">{{file.title}}</h2>
        <p><i class="ion-android-calendar"></i> {{parseDate(file.date) | date:'dd/MM/yyyy'}}</p>
      </a>

    </div>

  </ion-content>
</ion-view>