<ion-view view-title="{{stitle}}">

  <ion-nav-buttons side="secondary">
    <button class="button ion-ios-search-strong button-clear" ng-class="{'button-light':isAndroid, 'button-info':isIOS}" ng-click="showFilterBar()"></button>
  </ion-nav-buttons>
  
  <ion-content ng-class="{'has-header': isIOS}">

    <div ng-if="categories.length == 0">
      <ui-jumbotron icon="ion-ios-people">Não há {{stitle}} para exibir</ui-jumbotron>
    </div>

    <div class="list">

      <a class="item item-avatar" ui-sref="tab.procselets-files({category: category, stitle: stitle})" ng-repeat="category in categories">
        <div class="item-image app-units app-text-uppercase" ng-class="checkColor(category.unit, 'app-units-')">{{category.unit}}</div>

        <div class="item-input">
          <h2 class="app-title-clamp-two">{{category.category}}</h2>
        </div>
        <div class="item-input">
          <p><i class="icon ion-android-document"></i> {{category.file}}</p>
        </div>
        <div class="item-input">
          <p><i class="icon ion-ios-pricetag"></i> {{category.code}}</p>
        </div>
      </a>

    </div>

  </ion-content>

</ion-view>