.app-full-size{width: 100%;height:100%}
.app-item-page{width: 960px;height: 10000px}
.app-zoom-page {width: 100%;height: auto; min-height: 5000px;}

/*REEFRESHER*/
.spinner{padding: 2px;border-radius: 50%;-webkit-border-radius: 50%;display: inline-block;}
.spinner svg{width: 20px;height: 20px;}

/*LOADING*/
.loading-container .loading{background-color: rgba(255,255,255, .8); padding: 3px;font-size: 26px;border-radius: 50%;-webkit-border-radius: 50%;}
.loading-container .loading .spinner svg{stroke: #0d4772; height: 28px; width: 28px;}

/*BARS TABS COLORS*/
.bar.bar-black, .bar.bar-black.bar-footer{background-color:#171717;color:#b2b2b2;border-bottom-width: 0;}

/*BARS HEADER BORDER*/
.bar-header {border-style: solid;border-left-width: 0;border-right-width: 0;}


/*google apps*/
.tabs-light > .tabs, .tabs.tabs-light{border-top: 1px solid #ddd !important;}

/*BACKGROUND COLOR*/
.pane, .view{background-color: #F5F5F5;}

/*SLIDESHOW*/
.slider {height: 300px;}
.slider-slide {text-align: center;font-weight: 300;}

/*LIST ITEM*/
.app-item-bordered{border-bottom-width: 1px;border-style: solid;border-color: #DDD;margin-top: -1px;}
.app-item-bordered:last-child{border-width: 0px;}


/*AVATAR COLORS*/
.app-units{line-height: 40px; color: #ffffff;font-size:80%;opacity: 1!important;}
.app-units.app-units-info{background-color: #37639b}
.app-units.app-units-success{background-color: #19839b}
.app-units.app-units-warning{background-color: #f5ae33}
.app-units.app-units-danger{background-color: #b80b24}
.app-units.app-units-stable{background-color: #BDBDBD}
.app-units.app-units-light{background-color: #F9F9F9}
.app-units.app-units-positive{background-color: #71A3F8}
.app-units.app-units-calm{background-color: #12C1F3}
.app-units.app-units-balanced{background-color: #36CD61}
.app-units.app-units-energized{background-color: #FFCF1F}
.app-units.app-units-assertive{background-color: #ef473a}
.app-units.app-units-royal{background-color: #886aea}

.app-units-iframe{min-width: 32px;max-height: 32px;line-height: 32px;}

.bar .button-bar.button-bar-group {display: table;text-align: center;}
.bar .button-bar.button-bar-group > .button {display: inline-table}
.bar .button-bar.button-bar-group > .button-small {display: inline}

/*BUTTON PILL*/
.button-bar.button-pill {box-shadow: 0 1px 3px rgba(0,0,0,0.2);border-radius: 30px;}
.button-bar.button-pill .button:first-child {-webkit-border-radius: 30px 0 0 30px;border-radius: 30px 0 0 30px;}
.button-bar.button-pill .button:last-child {-webkit-border-radius: 0 30px 30px 0;border-radius: 0 30px 30px 0;}
/*BUTTON PILL*/

/*BUTTON SMALL*/
.bar .button-bar.bar-small, .bar .buttons.bar-small{min-height: 26px;line-height: 22px;margin: 4px 0;}
.bar .button-bar.bar-small > .button, .bar .buttons.bar-small > .button{min-width: 28px;min-height: 26px;font-size: 12px;line-height: 22px;height: 22px;}
/*BUTTON SMALL*/

/*TEXT*/
/*TEXT-COLOR*/
.light, a.light {color: #FFFFFF!important;}
.stable, a.stable{color: #F8F8F8!important;}
.positive, a.positive{color:#71A3F8!important;}
.calm, a.calm {color: #11C1F3!important;}
.balanced, a.balanced {color: #33CD5F!important;}
.energized, a.energized {color: #FFC900!important;}
.assertive, a.assertive {color: #EF473A!important;}
.royal, a.royal {color: #886AEA!important;}
.dark, a.dark {color: #444444!important;}
.info, a.info {color: #37639b!important;}
.success, a.success {color: #19839b!important;}
.warning, a.warning {color: #f5ae33!important;}
.danger, a.danger {color: #b80b24!important;}
.green, a.green {color: #2D6534!important;}
.tang, a.tang {color: #CB6018!important;}
.blue, a.blue {color: #012B81!important;}
.red, a.red {color: #A01027!important;}

.app-font-color-stable{color: #b2b2b2;}
.app-font-color-label{color: #576B95!important;}

/*BG-COLOR*/
.bg-light {background-color: #FFFFFF;}
.bg-stable {background-color: #F8F8F8;}
.bg-calm {background-color: #11C1F3;}
.bg-balanced {background-color: #33CD5F;}
.bg-energized {background-color: #FFC900;}
.bg-assertive {background-color: #EF473A;}
.bg-royal {background-color: #886AEA;}
.bg-dark {background-color: #444444;}
.bg-info {background-color: #37639b;}
.bg-success {background-color: #19839b;}
.bg-warning {background-color: #f5ae33;}
.bg-danger {background-color: #b80b24;}
.bg-green {background-color: #2D6534;}
.bg-tang {background-color: #CB6018;}
.bg-blue {background-color: #012B81;}
.bg-red {background-color: #A01027;}

/*TEXT TRANSFORM*/
.app-text-uppercase{text-transform: uppercase;}
/*TEXT-ALIGN*/
.app-text-align-left{text-align: left!important}
.app-text-align-justfy{text-align: justify!important}
.app-text-align-center{text-align: center!important}
.app-text-align-right{text-align: right!important}
/*FONT-SIZE*/
.app-font-size-300{font-size: 300%!important;}
.app-font-size-200{font-size: 200%!important;}
.app-font-size-150{font-size: 150%!important;}
.app-font-size-100{font-size: 100%!important;}
.app-font-size-90{font-size: 90%!important;}
.app-font-size-80{font-size: 80%!important;}
.app-font-size-70{font-size: 70%!important;}

/*TEXT-BORDER*/
.app-text-border{border-width: 5px;border-color: #AAA;border-style: solid;}
.app-text-border.top{border-width: 5px 0 0 0px}
.app-text-border.right{border-width: 0 5px 0 0;padding-right: 5px;}
.app-text-border.bottom{border-width: 0 0 5px 0}
.app-text-border.left{border-width: 0 0 0 5px; padding-left: 5px;}
.app-text-border.info{border-color: #0d4772}
.app-text-border.success{border-color: #19839b}
.app-text-border.warning{border-color: #f5ae33}
.app-text-border.danger{border-color: #b80b24}
.app-text-border.green{border-color: #2D6534}
.app-text-border.tang{border-color: #CB6018}
.app-text-border.blue{border-color: #012B81}
.app-text-border.red{border-color: #A01027}
.app-text-border.dark{border-color: #2A2D31}

.app-border-info{border-color: #0d4772!important}
.app-border-success{border-color: #19839b!important}
.app-border-warning{border-color: #f5ae33!important}
.app-border-danger{border-color: #b80b24!important}
.app-border-green{border-color: #2D6534!important}
.app-border-tang{border-color: #CB6018!important}
.app-border-blue{border-color: #012B81!important}
.app-border-red{border-color: #A01027!important}
.app-border-dark{border-color: #2A2D31!important}
.app-border-bottom{border-bottom: 1px solid #DDD;}

/*BUTTONS*/
.button-circle{border-radius: 50%;-webkit-border-radius: 50%; min-width: 47px;}
.button-circle.button-small{min-width: 30px;}
.button-bar.bar-dashed > .button{border-width:0 1px;border-color:rgba(0,0,0,.2);border-style: solid;}
.button-bar.bar-dashed > .button:first-child{border-left-width: 0;}
.button-bar.bar-dashed > .button:last-child{border-right-width: 0;}

.button-bar > .button-small .icon:before{line-height: 24px;}
 
/*LEIMAIS E COMPARTILHAR*/
.app-item-no-padding > .button-bar>.button {border-width: 0px 1px 0px 0px;border-color: transparent;border-radius:0;}
.app-item-no-padding > .button-bar>.button:last-child {border-right-width: 0px;}
.app-item-no-padding{padding: 0!important;}
.app-item-no-margin{margin: -1px!important;}
.app-item-no-opacity{opacity: 1!important;}
.app-item-no-border{border:none!important;}
.app-item-image-title{position: absolute;bottom: 0;padding: 15px 5px 15px 100px;text-align: left;margin-bottom: 0!important;width:100%;color:#FFF;}
.app-item-divider-last{border-bottom-width: 0;}
.app-no-margin-top{margin-top: 0!important;}
.app-no-white-space{white-space: normal!important;}
.app-img-transparent{opacity: .15;}
.app-item-select{padding: 14px 24px 16px 16px!important;}
.app-input-label{color: #576B95; width: 25%;}

/*CONTENT DOS ARTIGOS*/
.padding .content-article{text-align: justify;}
.padding .content-article .article-title{margin: 0 0 2px;font-size: 16px;font-weight: 400;}
.padding .content-article img{width: 100%;}

/*IFRAME*/
iframe, .app-iframe-issue .scroll{width: 100%!important;height: 100%!important;}
.app-title-iframe{font-size: 12px!important;}
.app-subtitle-iframe{font-size: 9px!important;}

/*MODAL*/
.modal-full{top: 0;bottom: 0;left: 0;right: 0;width: 100%;}
.modal-image-box {width: 100%;height: 600px;background-size: contain;background-repeat: no-repeat;background-position: center, center;}
.modal-image {width: 100% !important;height: 100%;top: 0 !important;left: 0 !important;background: #171717 !important;}

/*POPUP*/
.popup-container .popup{border-radius: 5px; -webkit-border-radius: 5px;}
.popup-body{text-align: center;}
.popup-head {padding: 10px;border-bottom: 1px solid #ccc; text-align: center;}

/*TITLE*/
.app-title-clamp-two{display: -webkit-box;-webkit-line-clamp: 2;-webkit-box-orient: vertical;white-space: normal!important;}
.app-title-small{font-size: 80%!important;line-height: 16px;margin-bottom: 10px!important;}

/*FLOAT*/
.app-float-right{float: right!important}
.app-float-left{float: left!important}

.app-jumbotron{text-align: center; color: #BBBBBB;}
.app-jumbotron i{font-size: 20em;}
.app-jumbotron p{font-size: 1.5em;}

/*BUTTON*/
/*.app-button-mini{padding:2px 4px 1px;min-width:28px;min-height: 20px;font-size:12px!important;line-height: 16px;}*/

/*MODAL ANIMATIONS*/
/*SCALE-IN*/
/*===============================*/
.scale-in {-webkit-transform: scale(0.0);transform: scale(0.0);opacity: 0;}
.scale-in.ng-enter,.scale-in > .ng-enter {-webkit-transition: all cubic-bezier(.1, .7, .1, 1) 400ms;transition: all cubic-bezier(.1, .7, .1, 1) 400ms;}
.scale-in.ng-enter-active,.scale-in > .ng-enter-active {-webkit-transform: scale(1);transform: scale(1);opacity: 1;}
.scale-in.ng-leave,.scale-in > .ng-leave {-webkit-transition: all ease-in-out 250ms;transition: all ease-in-out 250ms;}
/*SLIDE-IN-RIGHT*/
/*===============================*/
.slide-in-right {-webkit-transform: translateX(100%);transform: translateX(100%); }
.slide-in-right.ng-enter, .slide-in-right > .ng-enter {-webkit-transition: all cubic-bezier(0.1, 0.7, 0.1, 1) 400ms; transition: all cubic-bezier(0.1, 0.7, 0.1, 1) 400ms; }
.slide-in-right.ng-enter-active, .slide-in-right > .ng-enter-active {-webkit-transform: translateX(0);transform: translateX(0); }
.slide-in-right.ng-leave, .slide-in-right > .ng-leave {-webkit-transition: all ease-in-out 250ms;transition: all ease-in-out 250ms; }
/*===============================*/


/*ALERT BAR*/
/*===============================*/
.alert-bar{transition: top 0.25s ease;-webkit-transition: top 0.25s ease;position:absolute;padding:5px 10px;background-color: #171717;color: white;text-align: center;width: 100%;visibility: hidden;display: table;}
.alert-bar div{display: table-cell;}
.alert-bar i{padding: 0 10px;display: table-cell;vertical-align: middle;}
.platform-ios .alert-bar{top: 0;z-index:9;}
.platform-ios .bar-active{visibility: visible;top: 44px;}
.platform-android .alert-bar{top: 44px;z-index: 4;}
.platform-android .bar-active{visibility: visible;top: 93px;}

.alert-bar-error{background-color: orangered;}
.alert-bar-success{background-color: seagreen;}
.alert-bar-info{background-color: royalblue;}
.alert-bar-warning{background-color: goldenrod;}
/*===============================*/


/*JUMBOTRON*/
/*===============================*/
.jumbotron {padding-top: 20%;color: inherit;position: relative;text-align: center;height: inherit;top: 44px;}
.jumbotron .h1, .jumbotron h1 {font-size: 63px;color: #999;text-shadow: 1px 1px 1px #fff;-webkit-text-shadow: 1px 1px 1px #fff;}
.jumbotron p {margin-bottom: 15px;font-size: 21px;font-weight: 200;color: #999;text-shadow: 1px 1px 1px #fff;-webkit-text-shadow: 1px 1px 1px #fff;}
/*===============================*/


/*ITEM AVATAR*/
/*===============================*/
.item-image-top{overflow: visible;}
.item-avatar .item-image-top{top: -16px;}
/*===============================*/


/*ITEM THUMBNAIL*/
/*===============================*/
.item-thumbnail-img{overflow: visible;}
.item-thumbnail-img img:first-child{height: auto;max-height: 100%;top: -50px;border-width: 4px;border-style: double;border-color: #FFF;background-color: #FFF;border-radius: 5px;box-shadow: 0px 50px 0px 3px rgba(255,255,255,1), 0px 0px 3px rgba(145,145,145,0.5);-webkit-box-shadow: 0px 50px 0px 3px rgba(255,255,255,1), 0px 0px 3px rgba(145,145,145,0.5)}
.item-thumbnail-img > div:last-child{margin: 0;}
/*===============================*/

/*ITEM NOTE*/
/*===============================*/
.item-note > span, .item-inline > span{border-width: 0 1px;border-style: solid;border-color: #CCC;margin-left: -5px;padding: 0 8px;}
.item-note > span:first-child, .item-inline > span:first-child{border-left-width: 0;}
.item-note > span:last-child, .item-inline > span:last-child{border-right-width: 0;}
/*===============================*/

/*border-radius 10, 8, 6*/
/*===============================*/
.card.card-radius-10, .list-inset.card-radius-10{border-radius: 10px;-webkit-border-radius: 10px;}
.card.card-radius-10 .item:first-child, .list-inset.card-radius-10 .item:first-child, .padding > .list.card-radius-10 .item:first-child{border-top-left-radius: 10px;border-top-right-radius: 10px;}
.card.card-radius-10 .item:last-child, .list-inset.card-radius-10 .item:last-child, .padding > .list.card-radius-10 .item:last-child{border-bottom-right-radius: 10px;border-bottom-left-radius: 10px;}
.card.card-radius-8, .list-inset.card-radius-8{border-radius: 8px;-webkit-border-radius: 8px;}
.card.card-radius-8 .item:first-child, .list-inset.card-radius-8 .item:first-child, .padding > .list.card-radius-8 .item:first-child{border-top-left-radius: 8px;border-top-right-radius: 8px;}
.card.card-radius-8 .item:last-child, .list-inset.card-radius-8 .item:last-child, .padding > .list.card-radius-8 .item:last-child{border-bottom-right-radius: 8px;border-bottom-left-radius: 8px;}
.card.card-radius-6, .list-inset.card-radius-6{border-radius: 6px;-webkit-border-radius: 6px;}
.card.card-radius-6 .item:first-child, .list-inset.card-radius-6 .item:first-child, .padding > .list.card-radius-6 .item:first-child{border-top-left-radius: 6px;border-top-right-radius: 6px;}
.card.card-radius-6 .item:last-child, .list-inset.card-radius-6 .item:last-child, .padding > .list.card-radius-6 .item:last-child{border-bottom-right-radius: 6px;border-bottom-left-radius: 6px;}
/*===============================*/

/*CHECK-LIKE*/
.item-checkbox.item-checkbox-like, .item-checkbox.item-checkbox-unlike{padding-left: 48px;padding-right: 5px;}

.checkbox.checkbox-like input:before, .checkbox-icon.checkbox-like:before,
.checkbox.checkbox-unlike input:before, .checkbox-icon.checkbox-unlike:before{font-family: "Ionicons";content: '\f251';padding: 0 5px;line-height: 24px;font-size: 20px;color: #757575;background: #EEEEEE;border-color: transparent;}

.checkbox.checkbox-unlike input:before, .checkbox-icon.checkbox-unlike:before{content: '\f250';border-top-width: 3px;}
	
.checkbox.checkbox-like input:checked:before, .checkbox.checkbox-like input:checked + .checkbox-icon.checkbox-like:before,
.checkbox.checkbox-unlike input:checked:before, .checkbox.checkbox-unlike input:checked + .checkbox-icon.checkbox-unlike:before{background: #37639b;border-color: transparent;/*border-width: 1px;*/color: #f5f5f5;}
.checkbox.checkbox-unlike input:checked:before, .checkbox.checkbox-unlike input:checked + .checkbox-icon.checkbox-unlike:before{/*border-width: 3px 1px 1px;*/}

.checkbox.checkbox-like input:after, .checkbox-icon.checkbox-like:after,
.checkbox.checkbox-unlike input:after, .checkbox-icon.checkbox-unlike:after{border: none;}
/*CHECK-LIKE*/


/*TITLE BAR TWO LINES*/
.nav-bar-title > small, .title > small {display: block;line-height: 18px;font-size: 90%;}
.nav-bar-title > small:first-child, .title > small:first-child {margin-top: 4px;}
.nav-bar-title > small:last-child, .title > small:last-child {margin-bottom: 4px;}
.nav-bar-title > small.tiny, .title > small.tiny {font-size: 75%;color: #BDBDBD;}
/*TITLE BAR TWO LINES*/

/*CONTENT ARTICLE*/
.jcontent img{width: 100%;height: auto;}
.jcontent p{text-align: justify;}
.jcontent > table img{width: auto;height: auto;}
.jcontent > table .btn{display: inline-block;padding: 6px 12px;margin-bottom: 0;font-size: 14px;font-weight: normal;line-height: 1.428571429;text-align: center;white-space: nowrap;vertical-align: middle;cursor: pointer;background-image: none;border: 1px solid transparent;border-radius: 0px;padding: 10px;float: right;-webkit-user-select: none;user-select: none;color: #fff;background-color: #54aacb;border-color: #54aacb;}
.jcontent > table .btn.btn-warning{color: #fff;background-color: #f0ad4e;border-color: #eea236;}
.jcontent a{color: #54aacb;text-decoration: none;}
/*CONTENT ARTICLE*/

/*TABS AND TABS HIDE*/
.tabs {-webkit-transition: all linear 0.2s;transition: all linear 0.2s;}
/*IOS*/
.platform-ios .tabs-item-hide > .tabs, .platform-ios .tabs.tabs-item-hide{-webkit-transition: all linear 0.2s;transition: all linear 0.2s;bottom: -49px;display: flex;}
.platform-ios .tabs-top.tabs-item-hide > .tabs, .platform-ios .tabs-top.tabs.tabs-item-hide{-webkit-transition: all linear 0.2s;transition: all linear 0.2s;top: -44px;display: flex;}
/*ANDROID*/
.platform-android .tabs-item-hide > .tabs, .platform-android .tabs.tabs-item-hide{-webkit-transition: all linear 0.2s;transition: all linear 0.2s;bottom: -49px;display: flex;}
.platform-android .tabs-top.tabs-item-hide > .tabs, .platform-android .tabs-top.tabs.tabs-item-hide{-webkit-transition: all linear 0.2s;transition: all linear 0.2s;top: -44px;display: flex;}
/*TABS AND TABS HIDE*/


/*TABLE*/
table {
  background-color: transparent;
}
caption {
  padding-top: 8px;
  padding-bottom: 8px;
  color: #777777;
  text-align: left;
}
th {
  text-align: left;
}
.table {
  width: 100%;
  max-width: 100%;
  margin-bottom: 20px;
}
.table > thead > tr > th,
.table > tbody > tr > th,
.table > tfoot > tr > th,
.table > thead > tr > td,
.table > tbody > tr > td,
.table > tfoot > tr > td {
  padding: 8px;
  line-height: 1.42857143;
  vertical-align: top;
  border-top: 1px solid #dddddd;
}
.table > thead > tr > th {
  vertical-align: bottom;
  border-bottom: 2px solid #dddddd;
}
.table > caption + thead > tr:first-child > th,
.table > colgroup + thead > tr:first-child > th,
.table > thead:first-child > tr:first-child > th,
.table > caption + thead > tr:first-child > td,
.table > colgroup + thead > tr:first-child > td,
.table > thead:first-child > tr:first-child > td {
  border-top: 0;
}
.table > tbody + tbody {
  border-top: 2px solid #dddddd;
}
.table .table {
  background-color: #ffffff;
}
.table-condensed > thead > tr > th,
.table-condensed > tbody > tr > th,
.table-condensed > tfoot > tr > th,
.table-condensed > thead > tr > td,
.table-condensed > tbody > tr > td,
.table-condensed > tfoot > tr > td {
  padding: 5px;
}
.table-bordered {
  border: 1px solid #dddddd;
}
.table-bordered > thead > tr > th,
.table-bordered > tbody > tr > th,
.table-bordered > tfoot > tr > th,
.table-bordered > thead > tr > td,
.table-bordered > tbody > tr > td,
.table-bordered > tfoot > tr > td {
  border: 1px solid #dddddd;
}
.table-bordered > thead > tr > th,
.table-bordered > thead > tr > td {
  border-bottom-width: 2px;
}
.table-striped > tbody > tr:nth-of-type(odd) {
  background-color: #f9f9f9;
}
.table-hover > tbody > tr:hover {
  background-color: #f5f5f5;
}
table col[class*="col-"] {
  position: static;
  float: none;
  display: table-column;
}
table td[class*="col-"],
table th[class*="col-"] {
  position: static;
  float: none;
  display: table-cell;
}
.table > thead > tr > td.active,
.table > tbody > tr > td.active,
.table > tfoot > tr > td.active,
.table > thead > tr > th.active,
.table > tbody > tr > th.active,
.table > tfoot > tr > th.active,
.table > thead > tr.active > td,
.table > tbody > tr.active > td,
.table > tfoot > tr.active > td,
.table > thead > tr.active > th,
.table > tbody > tr.active > th,
.table > tfoot > tr.active > th {
  background-color: #f5f5f5;
}
.table-hover > tbody > tr > td.active:hover,
.table-hover > tbody > tr > th.active:hover,
.table-hover > tbody > tr.active:hover > td,
.table-hover > tbody > tr:hover > .active,
.table-hover > tbody > tr.active:hover > th {
  background-color: #e8e8e8;
}
.table > thead > tr > td.success,
.table > tbody > tr > td.success,
.table > tfoot > tr > td.success,
.table > thead > tr > th.success,
.table > tbody > tr > th.success,
.table > tfoot > tr > th.success,
.table > thead > tr.success > td,
.table > tbody > tr.success > td,
.table > tfoot > tr.success > td,
.table > thead > tr.success > th,
.table > tbody > tr.success > th,
.table > tfoot > tr.success > th {
  background-color: #dff0d8;
}
.table-hover > tbody > tr > td.success:hover,
.table-hover > tbody > tr > th.success:hover,
.table-hover > tbody > tr.success:hover > td,
.table-hover > tbody > tr:hover > .success,
.table-hover > tbody > tr.success:hover > th {
  background-color: #d0e9c6;
}
.table > thead > tr > td.info,
.table > tbody > tr > td.info,
.table > tfoot > tr > td.info,
.table > thead > tr > th.info,
.table > tbody > tr > th.info,
.table > tfoot > tr > th.info,
.table > thead > tr.info > td,
.table > tbody > tr.info > td,
.table > tfoot > tr.info > td,
.table > thead > tr.info > th,
.table > tbody > tr.info > th,
.table > tfoot > tr.info > th {
  background-color: #d9edf7;
}
.table-hover > tbody > tr > td.info:hover,
.table-hover > tbody > tr > th.info:hover,
.table-hover > tbody > tr.info:hover > td,
.table-hover > tbody > tr:hover > .info,
.table-hover > tbody > tr.info:hover > th {
  background-color: #c4e3f3;
}
.table > thead > tr > td.warning,
.table > tbody > tr > td.warning,
.table > tfoot > tr > td.warning,
.table > thead > tr > th.warning,
.table > tbody > tr > th.warning,
.table > tfoot > tr > th.warning,
.table > thead > tr.warning > td,
.table > tbody > tr.warning > td,
.table > tfoot > tr.warning > td,
.table > thead > tr.warning > th,
.table > tbody > tr.warning > th,
.table > tfoot > tr.warning > th {
  background-color: #fcf8e3;
}
.table-hover > tbody > tr > td.warning:hover,
.table-hover > tbody > tr > th.warning:hover,
.table-hover > tbody > tr.warning:hover > td,
.table-hover > tbody > tr:hover > .warning,
.table-hover > tbody > tr.warning:hover > th {
  background-color: #faf2cc;
}
.table > thead > tr > td.danger,
.table > tbody > tr > td.danger,
.table > tfoot > tr > td.danger,
.table > thead > tr > th.danger,
.table > tbody > tr > th.danger,
.table > tfoot > tr > th.danger,
.table > thead > tr.danger > td,
.table > tbody > tr.danger > td,
.table > tfoot > tr.danger > td,
.table > thead > tr.danger > th,
.table > tbody > tr.danger > th,
.table > tfoot > tr.danger > th {
  background-color: #f2dede;
}
.table-hover > tbody > tr > td.danger:hover,
.table-hover > tbody > tr > th.danger:hover,
.table-hover > tbody > tr.danger:hover > td,
.table-hover > tbody > tr:hover > .danger,
.table-hover > tbody > tr.danger:hover > th {
  background-color: #ebcccc;
}
/*.table-responsive {
  overflow-x: auto;
  min-height: 0.01%;
}
@media screen and (max-width: 767px) {
  .table-responsive {
    width: 100%;
    margin-bottom: 15px;
    overflow-y: hidden;
    -ms-overflow-style: -ms-autohiding-scrollbar;
    border: 1px solid #dddddd;
  }
  .table-responsive > .table {
    margin-bottom: 0;
  }
  .table-responsive > .table > thead > tr > th,
  .table-responsive > .table > tbody > tr > th,
  .table-responsive > .table > tfoot > tr > th,
  .table-responsive > .table > thead > tr > td,
  .table-responsive > .table > tbody > tr > td,
  .table-responsive > .table > tfoot > tr > td {
    white-space: nowrap;
  }
  .table-responsive > .table-bordered {
    border: 0;
  }
  .table-responsive > .table-bordered > thead > tr > th:first-child,
  .table-responsive > .table-bordered > tbody > tr > th:first-child,
  .table-responsive > .table-bordered > tfoot > tr > th:first-child,
  .table-responsive > .table-bordered > thead > tr > td:first-child,
  .table-responsive > .table-bordered > tbody > tr > td:first-child,
  .table-responsive > .table-bordered > tfoot > tr > td:first-child {
    border-left: 0;
  }
  .table-responsive > .table-bordered > thead > tr > th:last-child,
  .table-responsive > .table-bordered > tbody > tr > th:last-child,
  .table-responsive > .table-bordered > tfoot > tr > th:last-child,
  .table-responsive > .table-bordered > thead > tr > td:last-child,
  .table-responsive > .table-bordered > tbody > tr > td:last-child,
  .table-responsive > .table-bordered > tfoot > tr > td:last-child {
    border-right: 0;
  }
  .table-responsive > .table-bordered > tbody > tr:last-child > th,
  .table-responsive > .table-bordered > tfoot > tr:last-child > th,
  .table-responsive > .table-bordered > tbody > tr:last-child > td,
  .table-responsive > .table-bordered > tfoot > tr:last-child > td {
    border-bottom: 0;
  }
}*/
/*TABLE*/