<ion-modal-view class="modal-full bg-stable">
  
  <ion-header-bar class="ionic has-tabs-top" ng-class="{'bar-info': isAndroid, 'bar-light': isIOS}">

        <div class="buttons">
            <button ng-if="isAndroid" class="button back-button buttons button-clear header-item" ng-click="Sctrll.closeMlectureAddon()"><i class="icon ion-android-arrow-back"></i></button>
            <button ng-if="isIOS" class="button back-button buttons button-clear button-info header-item" ng-click="Sctrll.closeMlectureAddon()"><i class="icon ion-ios-arrow-back"></i></button>
        </div>

        <div class="title">
            <span class="nav-bar-title">
                <small>Curso</small>
                <small class="tiny">{{item.title}}</small>
            </span>
        </div>

    </ion-header-bar>

  <ion-scroll on-swipe-right="Sctrll.closeMlectureAddon()" scrollbar-x="false" scrollbar-y="false" on-double-tap="Sctrll.zoomOut()" zooming="true" direction="yx" delegate-handle="maddonScroll" class="app-full-size" min-zoom="1">
    <ion-content class="bg-light app-zoom-page padding jcontent" padding="true" scroll="false" overflow-scroll="false" compile-html="item.content"></ion-content>
  </ion-scroll>

</ion-modal-view>
