<ion-modal-view class="modal-full bg-stable">

    <ion-header-bar class="ionic has-tabs-top" ng-class="{'bar-info': isAndroid, 'bar-light': isIOS}">

        <div class="buttons">
            <button ng-if="isAndroid" class="button back-button buttons button-clear header-item" ng-click="Sctrlp.closeMprocselet()"><i class="icon ion-android-arrow-back"></i></button>
            <button ng-if="isIOS" class="button back-button buttons button-clear button-info header-item" ng-click="Sctrlp.closeMprocselet()"><i class="icon ion-ios-arrow-back"></i></button>
        </div>

        <p class="title">{{files.stitle}}</p>

    </ion-header-bar>
    

    <ion-content on-swipe-right="Sctrlp.closeMprocselet()" ng-class="{'has-header': isIOS}">

        <ion-list class="list">

            <ion-item class="item item-avatar">
                <div class="item-image app-units app-text-uppercase" ng-class="checkColor(files.unit, 'app-units-')">{{files.unit}}</div>
                <h2 class="app-title-clamp-two">{{files.category}}</h2>
                <p class="item-note item-note-mini app-float-none">{{files.code}}</p>
            </ion-item>

            <ion-item class="item item-divider" style="padding-top: 15px;">
                <h2 class="app-no-white-space app-font-size-70">ARQUIVOS</h2>
            </ion-item>

            <ul class="timeline bg-light">
                <li ng-click="Sctrlp.externalLink(f)" ng-repeat="f in files.files">
                    <div class="timeline-thumb bg-light color-white timeline-icon">
                        <i class="icon" ng-class="Sctrlp.getIcon(f)"></i>
                    </div>
                    <div class="timeline-item">
                        <h2 class="title positive">{{f.title}}</h2>

                        <div class="timeline-stats">
                            <span class="item-note item-note-mini app-float-left"><i class="icon ion-android-calendar"></i> {{Sctrlp.parseDate(f.date) | date:'dd/MM/yyyy'}}</span>
                            <span class="item-note item-note-mini"><i class="icon ion-soup-can-outline"></i> {{f.size}}</span>
                        </div>
                    </div>
                </li>
            </ul>

        </ion-list>

        <ion-item class="item item-divider app-item-divider-last bg-light"></ion-item>

    </ion-content>
</ion-modal-view>