<ion-view hide-back-button="true" hide-nav-bar="false" class="bg-light">


    <ion-nav-title class="bar bar-header bar-light item-input-inset" style="border-bottom: none;" ng-class="{'app-header-search-android':isAndroid, 'app-header-search-ios':isIOS}">
        <button ng-if="isAndroid" class="button back-button buttons button-clear button-clear header-item" ng-click="$ionicGoBack()">
            <i class="icon ion-android-arrow-back"></i>
        </button>
        <label ng-if="isAndroid" class="item-input-wrapper">
            <input type="search" ng-model="inputSearch.value" placeholder="Procurar">
        </label>
        <button ng-if="isAndroid" class="button button-clear ion-android-close button-stable" ng-show="inputSearch.value.length > 0"
        ng-click="clearSearch()"></button>

        <label ng-if="isIOS" class="item-input-wrapper" style="margin-top:0!important;">
            <i class="icon ion-ios-search placeholder-icon"></i>
            <button class="button button-clear ion-close-circled placeholder-icon button-stable" ng-show="inputSearch.value.length > 0"
            ng-click="clearSearch()"></button>
            <input type="search" ng-model="inputSearch.value" placeholder="Procurar">
        </label>
        <button ng-if="isIOS" class="button button-clear" style="margin-top:0!important;" ng-click="$ionicGoBack()"><span class="app-font-size-80">Cancelar</span></button>
    </ion-nav-title>

    <ion-tabs class="tabs-striped tabs-top tabs-background-light tabs-color-info" delegate-handle="searchtabs">
        <!--NEWS-->
        <ion-tab title="Notícias" class="app-font-size-90" href="#/search">
            <ion-nav-view name="search-news">
                <ion-content ng-controller="SearchCtrlNews as Sctrln" ng-class="{'has-header':isIOS}">
                    <ion-list type="list">
                        <ion-item class="item-avatar" ng-repeat="iNew in Sctrln.sNews | filter:Sctrln.filterNewsByField" ng-click="Sctrln.openMnew(iNew)">
                            <img ng-if="(iNew.images.image_fulltext || iNew.images.image_intro)" ng-src="{{url_intranet + (iNew.images.image_fulltext || iNew.images.image_intro)}}">
                            <h2 class="app-font-size-90">{{iNew.title}}</h2>
                            <p class="app-font-size-80"><span class="app-font-color-stable"><span ng-class="checkColor(iNew.unit)">{{iNew.unit || "ISGH"}}</span> &#8226; {{iNew.category}}</span></p>
                        </ion-item>
                    </ion-list>
                    <ion-infinite-scroll ng-if="Sctrln.checkTotalNews()" on-infinite="Sctrln.loadMoreNews()" distance="{{Sctrln.distance}}"></ion-infinite-scroll>
                </ion-content>
            </ion-nav-view>
        </ion-tab>

        <!--LECTURES & EVENTS-->
        <ion-tab title="Educação" class="app-font-size-90" href="#/search">
            <ion-nav-view name="search-lectures">
                <ion-content ng-class="{'has-header':isIOS}">
                    <ion-list type="list" ng-controller="SearchCtrlLectures as Sctrll">
                        <ion-item class="item-avatar" ng-repeat="lecture in Sctrll.sLectures | filter:Sctrll.filterLecturesByField" ng-click="Sctrll.openMlecture(lecture)">
                            <img ng-if="(lecture.thumbnail)" ng-src="{{url_site + lecture.thumbnail}}">
                            <h2 class="app-font-size-90">{{lecture.title}}</h2>
                            <p class="app-font-size-80"><span class="app-font-color-stable">{{lecture.location}} &#8226; {{lecture.status.desc1+" "+lecture.status.desc2}} &#8226; Cursos</span></p>
                        </ion-item>
                    </ion-list>

                    <ion-list type="list" ng-controller="SearchCtrlEvents as Sctrle">
                        <ion-item class="item-avatar" ng-repeat="event in Sctrle.sEvents | filter:Sctrle.filterEventsByField" ng-click="Sctrle.openMevent(event)">
                            <div class="item-image app-units" ng-class="checkColor(event.unit,'app-units-')">{{event.unit || "ISGH"}}</div>
                            <h2 class="app-font-size-90">{{event.title}}</h2>
                            <p class="app-font-size-80"><span class="app-font-color-stable">{{event.date | DateRelativeFilter}} &#8226; Eventos</span></p>
                        </ion-item>
                    </ion-list>
                </ion-content>
            </ion-nav-view>
        </ion-tab>

        <!--PROCESSOS SELETIVOS-->
        <ion-tab title="Processos Seletivos" class="app-font-size-90" href="#/search">
            <ion-nav-view name="search-procselets">
                <ion-content ng-controller="SearchCtrlProcselets as Sctrlp" ng-class="{'has-header':isIOS}">
                    <ion-list type="list">
                        <ion-item class="item-avatar" ng-repeat="procselect in Sctrlp.sProcselets | filter:Sctrlp.filterProcseletsByField" ng-click="Sctrlp.openMprocselet(procselect)">
                            <div class="item-image app-units app-text-uppercase" ng-class="checkColor(procselect.unit, 'app-units-')">{{procselect.unit}}</div>
                            <h2 class="app-font-size-90">{{procselect.category}}</h2>
                            <p class="app-font-size-80"><span class="app-font-color-stable">{{procselect.code}} &#8226; {{Sctrlp.procseletsTitles[procselect.status]}} &#8226; {{procselect.file}}</span></p>
                        </ion-item>
                    </ion-list>
                    <ion-infinite-scroll ng-if="Sctrlp.checkTotalProcselets()" on-infinite="Sctrlp.loadMoreProcselets()"
                    distance="{{Sctrlp.distance}}"></ion-infinite-scroll>
                </ion-content>
            </ion-nav-view>
        </ion-tab>

        <!--BIRTHDAYS-->
        <ion-tab title="Aniversários" class="app-font-size-90" href="#/search">
            <ion-nav-view name="search-birthdays">
                <ion-content ng-controller="SearchCtrlBirthdays as Sctrlb" ng-class="{'has-header':isIOS}">
                    <ion-list type="list">
                        <ion-item class="item-avatar" ng-repeat="birthday in Sctrlb.sBirthdays | filter:Sctrlb.filterBirthdaysByField">
                            <div class="item-image app-units app-units-stable">{{birthday.dsc_nome | CapNameFilter | limitTo: 2}}</div>
                            <!--<div class="item-image app-units app-units-stable"><i class="icon ion-person app-font-size-300"></i></div>-->
                            <h2 class="app-font-size-90">{{birthday.dsc_nome}}</h2>
                            <p class="app-font-size-80"><span class="app-font-color-stable">{{birthday.dat_nasc}} &#8226; <span ng-class="checkColor(birthday.dsc_filial)">{{birthday.dsc_filial}}</span> &#8226; {{birthday.dsc_funcao}}</span></p>
                        </ion-item>
                    </ion-list>
                    <ion-infinite-scroll ng-if="Sctrlb.checkTotalBirthdays()" on-infinite="Sctrlb.loadMoreBirthdays()" distance="{{Sctrlb.distance}}"></ion-infinite-scroll>
                </ion-content>
            </ion-nav-view>
        </ion-tab>

    </ion-tabs>

</ion-view>