.app-full-size{width: 100%;height:100%}
.app-item-page{width: 960px;height: 10000px}

/*REEFRESHER*/
.spinner{padding: 2px;border-radius: 50%;-webkit-border-radius: 50%;display: inline-block;}
.spinner svg{width: 20px;height: 20px;}

/*LOADING*/
.loading-container .loading{background-color: rgba(255,255,255, .8); padding: 3px;font-size: 26px;border-radius: 50%;-webkit-border-radius: 50%;}
.loading-container .loading .spinner svg{stroke: #0d4772; height: 28px; width: 28px;}

/*BARS TABS COLORS*/
.bar.bar-black, .bar.bar-black.bar-footer{background-color:#000000;color:#b2b2b2;border-bottom-width: 0;}

/*google apps*/
.tabs-light > .tabs, .tabs.tabs-light{border-top: 1px solid #ddd !important;}

/*BACKGROUND COLOR*/
.pane, .view{background-color: #F5F5F5;}

/*SLIDESHOW*/
.slider {height: 300px;}
.slider-slide {text-align: center;font-weight: 300;}

/*AVATAR COLORS*/
.app-units{line-height: 40px; color: #ffffff!important;border-radius: 0!important;-webkit-border-radius: 0!important;font-size:80%;opacity: 1!important;}
.app-units.info{background-color: #0d4772}
.app-units.success{background-color: #19839b}
.app-units.warning{background-color: #f5ae33}
.app-units.danger{background-color: #b80b24}
.app-units-iframe{min-width: 32px;max-height: 32px;line-height: 32px;}

.bar .button-bar.button-bar-group {display: table;text-align: center;}
.bar .button-bar.button-bar-group > .button {display: inline-table}
.bar .button-bar.button-bar-group > .button-small {display: inline}

/*TEXT*/
/*TEXT-COLOR*/
.info, a.info {color: #0d4772;}
.success, a.success {color: #19839b;}
.warning, a.warning {color: #f5ae33;}
.danger, a.danger {color: #b80b24;}
.green, a.green {color: #2D6534;}
.tang, a.tang {color: #CB6018;}
.blue, a.blue {color: #012B81;}
.red, a.red {color: #A01027;}

/*TEXT-ALIGN*/
.app-text-align-left{text-align: left!important}
.app-text-align-justfy{text-align: justify!important}
.app-text-align-center{text-align: center!important}
.app-text-align-right{text-align: right!important}
/*FONT-SIZE*/
.app-font-size-100{font-size: 100%!important;}
.app-font-size-90{font-size: 90%!important;}
.app-font-size-80{font-size: 80%!important;}
.app-font-size-70{font-size: 70%!important;}

/*TEXT-BORDER*/
.app-text-border{border-width: 5px;border-color: #AAA;border-style: solid;}
.app-text-border.top{border-width: 5px 0 0 0px}
.app-text-border.right{border-width: 0 5px 0 0;padding-right: 5px;}
.app-text-border.bottom{border-width: 0 0 5px 0}
.app-text-border.left{border-width: 0 0 0 5px; padding-left: 5px;}
.app-text-border.info{border-color: #0d4772}
.app-text-border.success{border-color: #19839b}
.app-text-border.warning{border-color: #f5ae33}
.app-text-border.danger{border-color: #b80b24}
.app-text-border.green{border-color: #2D6534}
.app-text-border.tang{border-color: #CB6018}
.app-text-border.blue{border-color: #012B81}
.app-text-border.red{border-color: #A01027}
.app-text-border.dark{border-color: #2A2D31}

.app-border-info{border-color: #0d4772!important}
.app-border-success{border-color: #19839b!important}
.app-border-warning{border-color: #f5ae33!important}
.app-border-danger{border-color: #b80b24!important}
.app-border-green{border-color: #2D6534!important}
.app-border-tang{border-color: #CB6018!important}
.app-border-blue{border-color: #012B81!important}
.app-border-red{border-color: #A01027!important}
.app-border-dark{border-color: #2A2D31!important}

/*BUTTONS*/
.button-circle{border-radius: 50%;-webkit-border-radius: 50%;}
.button-bar.bar-dashed > .button{border-width:0 1px;border-color:rgba(0,0,0,.2);border-style: solid;}
.button-bar.bar-dashed > .button:first-child{border-left-width: 0;}
.button-bar.bar-dashed > .button:last-child{border-right-width: 0;}

.button-bar > .button-small .icon:before{line-height: 24px;}
 
/*LEIMAIS E COMPARTILHAR*/
.app-item-no-padding > .button-bar>.button {border-width: 0px 1px 0px 0px;border-color: transparent;border-radius:0;}
.app-item-no-padding > .button-bar>.button:last-child {border-right-width: 0px;}
.app-item-no-padding{padding: 0!important;}
.app-item-no-margin{margin: -1px!important;}
.app-item-no-border{border:none!important;}
.app-item-image-title{position: absolute;bottom: 0;padding: 15px 5px 15px 100px;text-align: left;margin-bottom: 0!important;width:100%;color:#FFF;}
.app-item-divider-last{border-bottom-width: 0;}
.app-no-margin-top{margin-top: 0!important;}
.app-no-white-space{white-space: normal!important;}
.app-img-transparent{opacity: .15;}

/*CONTENT DOS ARTIGOS*/
.padding .content-article{text-align: justify;}
.padding .content-article .article-title{margin: 0 0 2px;font-size: 16px;font-weight: 400;}
.padding .content-article img{width: 100%;}

/*IFRAME*/
iframe, .app-iframe-issue .scroll{width: 100%!important;height: 100%!important;}
.app-title-iframe{font-size: 12px!important;}
.app-subtitle-iframe{font-size: 9px!important;}

/*MODAL*/
.modal-full{top: 0;bottom: 0;left: 0;right: 0;width: 100%;}
.modal-image-box {width: 100%;height: 600px;background-size: contain;background-repeat: no-repeat;background-position: center, center;}
.modal-image {width: 100% !important;height: 100%;top: 0 !important;left: 0 !important;background: #000000 !important;}

/*POPUP*/
.popup-container .popup{border-radius: 5px; -webkit-border-radius: 5px;}
.popup-body{text-align: center;}
.popup-head {padding: 10px;border-bottom: 1px solid #ccc; text-align: center;}

/*TITLE*/
.app-title-clamp-two{display: -webkit-box;-webkit-line-clamp: 2;-webkit-box-orient: vertical;white-space: normal!important;}
.app-title-small{color: #2a2d31!important;font-size: 80%!important;line-height: 16px;margin-bottom: 10px!important;}

/*FLOAT*/
.app-float-right{float: right!important}
.app-float-left{float: left!important}

.app-jumbotron{text-align: center; color: #BBBBBB;}
.app-jumbotron i{font-size: 20em;}
.app-jumbotron p{font-size: 1.5em;}

/*BUTTON*/
/*.app-button-mini{padding:2px 4px 1px;min-width:28px;min-height: 20px;font-size:12px!important;line-height: 16px;}*/

/*MODAL ANIMATIONS*/
/*SCALE-IN*/
/*===============================*/
.scale-in {-webkit-transform: scale(0.0);transform: scale(0.0);opacity: 0;}
.scale-in.ng-enter,.scale-in > .ng-enter {-webkit-transition: all cubic-bezier(.1, .7, .1, 1) 400ms;transition: all cubic-bezier(.1, .7, .1, 1) 400ms;}
.scale-in.ng-enter-active,.scale-in > .ng-enter-active {-webkit-transform: scale(1);transform: scale(1);opacity: 1;}
.scale-in.ng-leave,.scale-in > .ng-leave {-webkit-transition: all ease-in-out 250ms;transition: all ease-in-out 250ms;}
/*SLIDE-IN-RIGHT*/
/*===============================*/
.slide-in-right {-webkit-transform: translateX(100%);transform: translateX(100%); }
.slide-in-right.ng-enter, .slide-in-right > .ng-enter {-webkit-transition: all cubic-bezier(0.1, 0.7, 0.1, 1) 400ms; transition: all cubic-bezier(0.1, 0.7, 0.1, 1) 400ms; }
.slide-in-right.ng-enter-active, .slide-in-right > .ng-enter-active {-webkit-transform: translateX(0);transform: translateX(0); }
.slide-in-right.ng-leave, .slide-in-right > .ng-leave {-webkit-transition: all ease-in-out 250ms;transition: all ease-in-out 250ms; }
/*===============================*/


/*ALERT BAR*/
/*===============================*/
.alert-bar{transition: top 0.25s ease;-webkit-transition: top 0.25s ease;position:absolute;padding:5px 10px;background-color: black;color: white;text-align: center;width: 100%;visibility: hidden;}
.alert-bar i{float: right;padding: 0 10px;}
.platform-ios .alert-bar{top: 0;z-index:9;}
.platform-ios .bar-active{visibility: visible;top: 44px;}
.platform-android .alert-bar{top: 44px;z-index: 4;}
.platform-android .bar-active{visibility: visible;top: 93px;}

.alert-bar-error{background-color: orangered;}
.alert-bar-success{background-color: seagreen;}
.alert-bar-info{background-color: royalblue;}
.alert-bar-warning{background-color: goldenrod;}
/*===============================*/


/*JUMBOTRON*/
/*===============================*/
.jumbotron {padding-top: 20%;color: inherit;background-color: #eee;position: relative;text-align: center;height: inherit;top: 44px;}
.jumbotron .h1, .jumbotron h1 {font-size: 63px;color: #999;text-shadow: 1px 1px 1px #fff;-webkit-text-shadow: 1px 1px 1px #fff;}
.jumbotron p {margin-bottom: 15px;font-size: 21px;font-weight: 200;color: #999;text-shadow: 1px 1px 1px #fff;-webkit-text-shadow: 1px 1px 1px #fff;}
/*===============================*/


/*ITEM THUMBNAIL*/
/*===============================*/
.item-thumbnail-img{overflow: visible;}
.item-thumbnail-img img:first-child{height: auto;max-height: 100%;top: -25px;border-width: 4px;border-style: double;border-color: #FFF;background-color: #FFF;border-radius: 5px;box-shadow: 0px 25px 0px 3px rgba(255,255,255,1), 0px 0px 3px rgba(145,145,145,0.5);-webkit-box-shadow: 0px 25px 0px 3px rgba(255,255,255,1), 0px 0px 3px rgba(145,145,145,0.5)}
.item-thumbnail-img > div, .item-display-table {display: table;width: 100%;}
.item-thumbnail-img > div:last-child{margin: 0;}
/*===============================*/

/*ITEM NOTE*/
/*===============================*/
.item-note > span{border-width: 0 1px;border-style: solid;border-color: #CCC;margin-left: -4px;padding: 0 8px;}
.item-note > span:first-child{border-left-width: 0;}
.item-note > span:last-child{border-right-width: 0;}
/*===============================*/

/*border-radius 10*/
/*===============================*/
.card.card-radius-10, .list-inset.card-radius-10{border-radius: 10px;-webkit-border-radius: 10px;}
.card.card-radius-10 .item:first-child, .list-inset.card-radius-10 .item:first-child, .padding > .list.card-radius-10 .item:first-child{border-top-left-radius: 10px;border-top-right-radius: 10px;}
.card.card-radius-10 .item:last-child, .list-inset.card-radius-10 .item:last-child, .padding > .list.card-radius-10 .item:last-child{border-bottom-right-radius: 10px;border-bottom-left-radius: 10px;}
/*===============================*/